<a href="https://colab.research.google.com/github/AhnSeoJoon/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.
  - 2023년 10월 19일 안서준
  - (1) 9:10 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅적사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사및 집안일 돕기
  - (7) 19:00 LOL하기

In [ ]:
print('2023년 10월 19일 안서준' )                 # '2023년 10월 19일 안서준'을 출력합니다.
print('(1) 9:10 도서관에서 책 빌리기')            # '(1) 9:10 도서관에서 책 빌리기'를 출력합니다.
print('(2) 11:10 컴퓨팅적사고와 기초코딩 수업')   # '(2) 11:10 컴퓨팅적사고와 기초코딩 수업'을 출력합니다.
print('(3) 13:10 점심식사')                       # '(3) 13:10 점심식사'를 출력합니다.
print('(4) 14:10 교양수업')                       # '(4) 14:10 교양수업'을 출력합니다.
print('(5) 16:00 파이썬 공부 및 레포트 작성')     # '(5) 16:00 파이썬 공부 및 레포트 작성'을 출력합니다.
print('(6) 17:40 저녁식사및 집안일 돕기')         # '(6) 17:40 저녁식사및 집안일 돕기'를 출력합니다.
print('(7) 19:00 LOL하기')                        # '(7) 19:00 LOL하기'를 출력합니다.

2023년 10월 19일 안서준
(1) 9:10 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적사고와 기초코딩 수업
(3) 13:10 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
  - 식사하셨습니까? 행님

In [ ]:
print('식사하셨습니까? 행님')    # '식사하셨습니까? 행님'을 출력합니다.

식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
 - 박보검: 90점
 - 션    : 92점
 - 도룡용: 80점
 - 차은우: 99점
 - 국어점수 순위
 - 1등 차은우
 - 2등 션
 - 3등 박보검
 - 4등 도룡용

In [ ]:
n1 = input("학생점수를 입력하시오.:")    # 사용자로부터 학생 점수를 입력받아 변수 n1에 저장합니다.
n2 = input("학생점수를 입력하시오.:")    # 사용자로부터 학생 점수를 입력받아 변수 n2에 저장합니다.
n3 = input("학생점수를 입력하시오.:")    # 사용자로부터 학생 점수를 입력받아 변수 n3에 저장합니다.
n4 = input("학생점수를 입력하시오.:")    # 사용자로부터 학생 점수를 입력받아 변수 n4에 저장합니다.
print('국어점수 순위')
print('1등' , n4)                        # 1등과 n4 변수의 값을 출력합니다.
print('2등' , n2)                        # 2등과 n2 변수의 값을 출력합니다.
print('3등' , n1)                        # 3등과 n1 변수의 값을 출력합니다.
print('4등' , n3)                        # 4등과 n3 변수의 값을 출력합니다.

학생점수를 입력하시오.:박보검  90점
학생점수를 입력하시오.:션 92점
학생점수를 입력하시오.:도롱용 80점
학생점수를 입력하시오.:차은우 99점
국어점수 순위
1등 차은우 99점
2등 션 92점
3등 박보검  90점
4등 도롱용 80점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1 = int(input('n1의 값을 입력하시오.'))   # 사용자로부터 정수 값을 입력받아 변수 n1에 저장합니다.
n2 = int(input('n2의 값을 입력하시오.'))   # 사용자로부터 정수 값을 입력받아 변수 n2에 저장합니다.
total = n1 + n2                            # n1과 n2의 합을 구하여 total 변수에 저장합니다.
average = total / 2                        # total을 2로 나눈 평균을 계산하여 average 변수에 저장합니다.
print(average)                             # average 값을 출력합니다.

n1의 값을 입력하시오.80
n2의 값을 입력하시오.60
70.0